@import 'src/styles';

header {
    display: flex;
    margin: 0 4.625rem;
    padding: 2.5rem 0;
    justify-content: space-between;

    .switch-box {
        display: flex;
        align-items: center;
        gap: 1.1rem;
        margin-right: auto;
    }

    .menu-box {
        @include flex(row, center);
        gap: 1.25rem;

        .lang {

            &-box {
                display: flex;
                align-items: center;
                gap: .75rem;
            }

            &-select {
                font-size: 1.25rem;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
        }
    }


    @include respondTo(tab-portrait) {
        margin: 0 3rem;
    }

    @include respondTo(phone) {
        margin: 0 1.25rem;
        padding: 1.5rem 0;

        .switch-box {
            gap: .5rem
        }
    }
}

#lang {
    border: none;
    background-color: transparent;
    color: $black;
    cursor: pointer;

    &.dark {
        color: $white;
    }

    option .dark {
        color: $black;;
    }
}
