@import "/src/styles.scss";

header {
    display: flex;
    margin: 0 4.625rem;
    padding: 2.5rem 0;

    .switch-box {
        display: flex;
        align-items: center;
        gap: 1.1rem;
        margin-right: auto;

        @media (max-width: 400px) {
            gap: 0.5rem;
        }
    }

    .lang {

        &-box {
            display: flex;
            align-items: center;
            gap: 0.75rem;
        }

        &-select {
            font-size: 1.25rem;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }
}

.dark {
    background-color: $black;
    color: $white;
}

#lang {
    border: none;
    background-color: transparent;
    color: $black;
    cursor: pointer;

    &.dark {
        color: $white;
    }

    option .dark {
        color: $black;;
    }
}
