<header>
    <div class="switch-box">
        <p>{{ 'affiliate' |translate }}</p>
        <app-switch [checked]="(role$ | async) === 'advertiser'" (change)="roleChange()"></app-switch>
        <p>{{ 'advertiser' |translate }}</p>
    </div>

    <div class="menu-box">
        <app-menu class="menu"></app-menu>

        <div class="lang-box">
            <select class="lang-select" name="lang" id="lang" (change)="langChange($event)">
                <option value="en" [selected]="selected('en')">EN</option>
                <option value="ua" [selected]="selected('ua')">UA</option>
            </select>
        </div>
    </div>
</header>
