@import "/src/styles.scss";

.switch-box{
    display: flex;
    align-items: center;
    gap: 1.1rem;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 400px) {
        gap: .5rem;
    }
}

.dark{
    background-color: $black;
    color: $white;
}
