<h2>Вопросы?</h2>
<form [formGroup]="contactFormGroup" (submit)="submitQuestionsForm(contactFormGroup)">
    <div
        class="question-form-field"
    >
        <mat-label>Name</mat-label>
        <input
            matInput
            type="text"
            formControlName="name"
        />
    </div>

    <div
        class="question-form-field"
    >
        <label for="email">Email</label>
        <input
            matInput
            type="email"
            id="email"
            formControlName="email"
        >
        <span
            class="error red"
            *ngIf="fc['email'].touched
                && fc['email'].invalid"
        >Correct email, please
        </span>
    </div>

    <div
        class="question-form-field question-form-field_bold"
    >
        <mat-label>Lorem ipsum dolor sit amet</mat-label>
        <input
            matInput
            type="text"
            formControlName="question"
        />
    </div>

    <button class="form-btn" type="submit">Send</button>
</form>
