@import '../../../../styles';

:host {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin-right: 1rem;

    @include respondTo(tab-portrait) {
        @include flex(col, center);
    }
}

.heading {
    @include flex(col, start);
    justify-content: center;

    h2 {
        padding-right: 2rem;
        margin-bottom: 2rem;

        @include respondTo(tab-landscape) {
            font-size: 2.25rem;
        }

        @include respondTo(tab-portrait) {
            font-size: 1.875rem;
            align-self: flex-start;
            margin-bottom: 1rem;
        }

        @include respondTo(phone) {
            align-self: flex-start;
            margin-bottom: 1rem;
        }
    }

    p {
        font-weight: 400;
        margin-bottom: 1rem;
        max-width: 25rem;
    }
}

form {
    width: 52rem;
    @include flex(col, start);
    gap: 3rem;

    @include respondTo(big-desktop) {
        width: 120rem;
    }

    @include respondTo(tab-portrait) {
        width: 100%;
        align-self: flex-start;
    }

    @include respondTo(phone) {
        max-width: 22rem;
    }

    .form-btn {
        @include button(m);
        margin: .75rem 0;

        @include respondTo(tab-landscape) {
            padding: 1.25rem 3rem;
        }

        @include respondTo(tab-portrait) {
            padding: 1.25rem 5rem;
        }

        @include respondTo(phone) {
            align-self: center;
            padding: 1.25rem 7.5rem;
        }
    }
}

.question-form {
    &-field {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-weight: 500;
        border-bottom: 1.5px solid $black;
        position: relative;

        input {
            border: none;

            &:focus-visible {
                outline: none;
            }
        }

        textarea {
            max-width: 100%;
            height: 100%;
            padding: .5rem;
            border: none;
        }

        .error {
            position: absolute;
            bottom: -2rem;
        }

        &_bold {
            font-weight: 700;
            border-bottom: 3px solid $black;
        }
    }
}
