<div class="heading">
    <h2>{{ heading | translate }}</h2>
    <ng-container *ngIf="subHeading">
        <p>{{ subHeading | translate }}</p>
    </ng-container>
</div>
<form [formGroup]="formGroup" (submit)="submitForm(formGroup)">
    <div
        class="question-form-field"
    >
        <label for="name">Name</label>
        <input
            matInput
            type="text"
            id="name"
            formControlName="name"
        />
    </div>

    <div
        class="question-form-field"
    >
        <label for="email">Email</label>
        <input
            matInput
            type="email"
            id="email"
            formControlName="email"
        >
        <span
            class="error red"
            *ngIf="fc['email'].touched
                && fc['email'].invalid"
        >Correct email, please
        </span>
    </div>

    <div
        class="question-form-field question-form-field_bold"
    >
        <label for="question">Lorem ipsum dolor sit amet</label>
        <input
            matInput
            type="text"
            id="question"
            formControlName="question"
        />
    </div>

    <ng-container *ngIf="withUpload">
        <app-drag-n-drop
            [label]="uploadBtnName"

        ></app-drag-n-drop>
    </ng-container>

    <button class="form-btn" type="submit">Send</button>
</form>
