<div class="heading">
    <h2>{{ heading | translate }}</h2>
    <ng-container *ngIf="subHeading">
        <p>{{ subHeading | translate }}</p>
    </ng-container>
</div>
<form [formGroup]="fg" (submit)="submitForm(fg)">
    <div
        class="question-form-field"
    >
        <label for="name">Name</label>
        <input
            type="text"
            id="name"
            formControlName="name"
        />
    </div>

    <div
        class="question-form-field"
    >
        <label for="email">Email</label>
        <input
            type="email"
            id="email"
            formControlName="email"
        >
        <span
            class="error red"
            *ngIf="fc['email'].touched
                && fc['email'].invalid"
        >Correct email, please
        </span>
    </div>

    <div
        class="question-form-field question-form-field_bold"
    >
        <label for="question">{{ withUpload ? 'Cover Letter' : 'Your question' }}</label>
        <textarea
            type="text"
            id="question"
            [formControlName]="withUpload ? 'coverLetter' : 'question'"
            (keyup)="autoGrowTextZone($event)"
        ></textarea>
    </div>

    <ng-container *ngIf="withUpload">
        <app-drag-n-drop
            [label]="uploadBtnName"
            [formGroup]="fg"
            [formGroupName]="'cv'"
            (fileUploaded)="setCvFileValue($event)"
        ></app-drag-n-drop>
    </ng-container>

    <button class="form-btn" type="submit">Send</button>
</form>
