<div class="blog-page content-wrapper">
    <section class="heading">
        <h1>{{ 'blog' | translate }}</h1>
        <img src="assets/img/blog-heading-img.png" alt="Blog Img">
    </section>

    <section class="articles">
        <ng-container *ngFor="let item of articlesList; trackBy: index">
            <app-blog-card
                [title]="item.title"
                [text]="item.text"
                [date]="item.date"
            ></app-blog-card>
        </ng-container>
    </section>
</div>
