<div class="about-page content-wrapper">
    <section class="heading">
        <h1>ABOUT US</h1>
        <img src="assets/img/about-head-img.png" alt="About Us">
    </section>

    <section class="interactive">
        <div class="interactive-card">
            <div class="interactive-card-box">
                <h1 class="interactive-card-heading">
                    JBOmarketing can help you with affiliate marketing
                </h1>

                <p class="interactive-card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    <br><br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum.
                </p>

                <button class="interactive-card-btn">Start working</button>
            </div>
        </div>
    </section>

    <section class="text-block">
        <div class="text-block-box">
            <h2 class="text-block-heading">TEXT BLOCK 1</h2>
            <p class="text-block-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <img class="text-block-img" src="assets/img/about-text-img.png" alt="Text-img">
    </section>

    <section class="partners" style="width: 100%">
        <div class="partners">
            <h2 class="partners-heading">MEDIA PARTNERS</h2>
            <div class="partners-box">
                <ul class="partners-list">
                    <li
                        class="partners-list-item"
                        href=""
                    >
<!--                        <img src="assets/img/partner-1.png" alt="">-->
                        PARTNER
                    </li>

                    <li
                        class="partners-list-item"
                        href=""
                    >
<!--                        <img src="assets/img/partner-4.png" alt="">-->
                        PARTNER
                    </li>

                    <li
                        class="partners-list-item"
                        href=""
                    >
<!--                        <img src="assets/img/partner-2.png" alt="">-->
                        PARTNER
                    </li>

                    <li
                        class="partners-list-item"
                        href=""
                    >
<!--                        <img src="assets/img/partner-1.png" alt="">-->
                        PARTNER
                    </li>

                    <li
                        class="partners-list-item"
                        href=""
                    >
<!--                        <img src="assets/img/partner-3.png" alt="">-->
                        PARTNER
                    </li>
                </ul>
            </div>
        </div>

        <div class="partners">
            <h2 class="partners-heading">TECH PARTNERS</h2>
            <div class="partners-box">
                <ul class="partners-list">
                    <li
                        class="partners-list-item"
                        href=""
                    >
<!--                        <img src="assets/img/partner-2.png" alt="">-->
                        PARTNER
                    </li>
                    <li
                        class="partners-list-item"
                        href=""
                    >
<!--                        <img src="assets/img/partner-4.png" alt="">-->
                        PARTNER
                    </li>
                    <li
                        class="partners-list-item"
                        href=""
                    >
<!--                        <img src="assets/img/partner-3.png" alt="">-->
                        PARTNER
                    </li>
                    <li
                        class="partners-list-item"
                        href=""
                    >
<!--                        <img src="assets/img/partner-2.png" alt="">-->
                        PARTNER
                    </li>
                    <li
                        class="partners-list-item"
                        href=""
                    >
<!--                        <img src="assets/img/partner-1.png" alt="">-->
                        PARTNER
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="success-params">
        <h2 class="success-params-heading">Наши параметры успеха</h2>
        <div class="success-params-diagrams">
            <div class="success-params-diagrams-item">
                <h4>2050</h4>
                <span>Lorem ipsum</span>
            </div>
            <div class="success-params-diagrams-item">
                <h4>50</h4>
                <span>Lorem ipsum</span>
            </div>
            <div class="success-params-diagrams-item">
                <h4>1M</h4>
                <span>Lorem ipsum</span>
            </div>
            <div class="success-params-diagrams-item">
                <h4>1886</h4>
                <span>Lorem ipsum</span>
            </div>
        </div>
    </section>
</div>
