<div class="about-page content-wrapper">
    <section class="heading">
        <h1>{{ 'about-us' | translate }}</h1>
        <img src="assets/img/about-head-img.png" alt="About Us">
    </section>

    <section class="interactive">
        <div class="interactive-card">
            <div class="interactive-card-box">
                <h1>{{ 'about-us_heading' | translate}}</h1>

                <p>{{ 'about-us_subheading' | translate}}</p>

                <a
                    class="interactive-card-btn"
                    target="_blank"
                    type="button"
                    href="https://panel.jbomarketing.com/auth/affiliate?cpn=jbo"
                >{{ "about-us_btn" | translate }}</a>
            </div>
        </div>
    </section>

    <section class="text-block-wrap">
        <div class="text-block">
            <div class="text-block-text">
                <h2>{{ 'about-us_text-block-1_heading' | translate}}</h2>
                <p>{{ 'about-us_text-block-1_subheading' | translate }}</p>
            </div>
            <img class="text-block-img" src="assets/img/about-text-img.png" alt="Text-img">
        </div>
    </section>

    <app-partners></app-partners>

    <section class="success-params">
        <h2 class="success-params-heading">{{ 'about-us_params-heading' | translate }}</h2>
        <div class="success-params-diagrams">
            <div class="success-params-diagrams-item">
                <h4>{{ 'about-us_params-item-number-1' | translate }}</h4>
                <span>{{ 'about-us_params-item-label-1' | translate }}</span>
            </div>
            <div class="success-params-diagrams-item">
                <h4>{{ 'about-us_params-item-number-2' | translate }}</h4>
                <span>{{ 'about-us_params-item-label-2' | translate }}</span>
            </div>
            <div class="success-params-diagrams-item">
                <h4>{{ 'about-us_params-item-number-3' | translate }}</h4>
                <span>{{ 'about-us_params-item-label-3' | translate }}</span>
            </div>
            <div class="success-params-diagrams-item">
                <h4>{{ 'about-us_params-item-number-4' | translate }}</h4>
                <span>{{ 'about-us_params-item-label-4' | translate }}</span>
            </div>
        </div>
    </section>
</div>
