<div class="content-wrap">
    <section id="home" class="meet" [class.dark]="isDark">
        <div class="picbox">
            <video [autoplay]="true" [muted]="true" loop class="main-pic">
                <source src="assets/video/Frame 41303_3.mp4" type="video/mp4">
                Your browser is not supporting video tag!
            </video>

            <p class="priamikom" [class.dark-t]="isDark">{{ 'since' | translate }}</p>
            <button class="btn ahuet">{{ 'start-button' | translate }}</button>
        </div>
        <h1 class="sorry" [class.dark-t]="isDark">{{ 'sorry' | translate }}</h1>
        <app-menu class="menu my-5 mb-0 ms-0 ms-sm-4"></app-menu>
    </section>

    <section class="features mb-5 pb-5" [class.dark]="isDark" id="about-us">
        <app-pill [number]="'0001'" description="{{ '1-feature' + (isDark ? '-brok' : '-web') | translate }}"></app-pill>
        <app-pill [number]="'0002'" description="{{ '2-feature' + (isDark ? '-brok' : '-web') | translate }}"></app-pill>
        <app-pill [number]="'0003'" description="{{ '3-feature' + (isDark ? '-brok' : '-web') | translate }}"></app-pill>
        <app-pill [number]="'0004'" description="{{ '4-feature' + (isDark ? '-brok' : '-web') | translate }}"></app-pill>
    </section>

    <article class="reviews mb-5">
        <swiper
            #reviews
            [slidesPerView]="1"
            [spaceBetween]="0"
            [centeredSlides]="true"
            [loop]="true"
            [keyboard]="{
                enabled: true
            }"
            class="my-swiper"
        >
            <ng-template *ngFor="let i of reviewList" swiperSlide>
                <div class="swiper-slide-container">
                    <section class="partners pt-4 mb-5 pb-5" [class.dark]="isDark">
                        <p>{{ 'partners-say' | translate }}</p>
                        <div class="content">
                            <div class="logoName">
                                <h2 class="partners__title">{{ i.title }}</h2>
                                <img [src]="i.imgURL" [alt]="i.title" class="partners__logo" width="200" height="200">
                            </div>
                            <p class="quote">{{ i.review }}</p>
                        </div>
                    </section>
                </div>
            </ng-template>
        </swiper>
        <div class="reviews__navbox">
            <a calss="nav" (click)="slidePrev('reviews')" >
                <img [src]="isDark ? 'assets/svg/arr-left.svg' : 'assets/svg/arr-left-dark.svg'" alt="arrow left">
            </a>
            <a calss="nav" (click)="slideNext('reviews')">
                <img [src]="isDark ? 'assets/svg/arr-right.svg' : 'assets/svg/arr-right-dark.svg'" alt="arrow right">
            </a>
        </div>
    </article>

    <div class="statistics-container">
        <article class="statistics" *ngIf="!isDark">
            <swiper
            #statistics
            [slidesPerView]="1"
            [spaceBetween]="0"
            [centeredSlides]="true"
            [loop]="true"
            [keyboard]="{
                enabled: true
            }"
            class="my-swiper"
            >
                <ng-template *ngFor="let stat of statisticsList" swiperSlide>
                    <section class="stats pt-5 mb-5 pb-5">
                        <div class="stats__card">
                            <img src="assets/img/olx-back.png" alt="background" class="stats__card--bg">
                            <div class="logo-card">
                                <img [src]="stat.imgURL" alt="OLX">
                                <h5>{{ stat.title }}</h5>
                            </div>
                            <div class="percentage">
                                <span class="cr">CR:</span>
                                <span class="percent">{{ stat.percentage }}</span>
                            </div>
                            <div class="dollars">
                                <span class="cr">CPA:</span>
                                <span class="numbers">{{ stat.cost }}</span>
                            </div>
                            <div class="countries">
                                <ng-container *ngFor="let geo of stat.geo">
                                    <img *ngIf="geo === 'ua' || geo === 'sp' || geo === 'pt'; else otherGeo" [src]="'assets/img/' + geo + '.svg'" [alt]="geo">
                                    <ng-template #otherGeo>
                                        <img [src]="'assets/img/' + geo + '.png'" width="26" height="26" [alt]="geo">
                                    </ng-template>
                                </ng-container>
                            </div>

                        </div>
                    </section>
                </ng-template>
            </swiper>
            <div class="statistics__nav">
                <a calss="nav" (click)="slidePrev('statistics')">
                    <img src="assets/svg/arr-left-dark.svg" alt="arrow left">
                </a>
                <a calss="nav" (click)="slideNext('statistics')">
                    <img src="assets/svg/arr-right-dark.svg" alt="arrow right">
                </a>
            </div>
        </article>
    </div>

    <section *ngIf="isDark" class="flow px-5 pt-5 mb-5 pb-5">
        <h2 class="flow__heading mb-5 pb-3">{{ 'success-formula' | translate }}</h2>
        <div class="flow__box">
            <app-flow-pill heading="{{ 'request' | translate }}"
                description="{{ 'request-desc' | translate }}">
            </app-flow-pill>
            <img src="assets/svg/arr-bottom-sm.svg" alt="arrow bottom" class="my-3 arrow">
            <app-flow-pill heading="{{ 'analysis' | translate }}"
                description="{{ 'analysis-desc' | translate }}">
            </app-flow-pill>
            <img src="assets/svg/arr-bottom-sm.svg" alt="arrow bottom" class="my-3 arrow">
            <app-flow-pill heading="{{ 'launch' | translate }}"
                description="{{ 'launch-desc' | translate }}">
            </app-flow-pill>
            <img src="assets/svg/arr-bottom-sm.svg" alt="arrow bottom" class="my-3 arrow">
            <app-flow-pill heading="{{ 'profit' | translate }}"
                description="{{ 'profit-desc' | translate }}">
            </app-flow-pill>
        </div>
    </section>

    <ng-container *ngIf="!isDark; else faq">
        <ng-container [ngTemplateOutlet]="faq"></ng-container>
    </ng-container>
    <ng-container *ngIf="isDark; else events">
        <ng-container [ngTemplateOutlet]="events"></ng-container>
    </ng-container>

    <ng-template #events>
        <section *ngIf="eventsList?.length" id="event" class="events mb-5 pb-5">
            <div class="d-flex justify-content-between mb-3 px-3 px-md-4">
                <h2 class="events__heading" [class.dark]="isDark">{{ 'events' | translate }}</h2>
                <div class="d-md-inline-block events__nav">
                    <a calss="nav" (click)="slidePrev('events')">
                        <img [src]="isDark ? 'assets/svg/arr-left.svg' : 'assets/svg/arr-left-dark.svg'" alt="arrow left">
                    </a>
                    <a calss="nav" (click)="slideNext('events')">
                        <img [src]="isDark ? 'assets/svg/arr-right.svg' : 'assets/svg/arr-right-dark.svg'"
                            alt="arrow right">
                    </a>
                </div>
            </div>

            <swiper
                #swiperEvents
                [slidesPerView]="1"
                [spaceBetween]="10"
                [loop]="true"
                [keyboard]="{
                    enabled: true
                }"
                class="my-swiper"
                [breakpoints]="breakpoints"
            >
                <ng-template *ngFor="let i of eventsList" swiperSlide>
                    <app-event [event]="i" [lang]="currentLang"></app-event>
                </ng-template>
            </swiper>
        </section>
    </ng-template>

    <ng-template #faq>
        <section id="faq" class="faq px-3 px-sm-5 mb-5 pt-5 pb-5">
            <app-question question="{{ 'question-1' | translate }}" answer="{{ 'answer-1' | translate }}"></app-question>
            <app-question question="{{ 'question-2' | translate }}" answer="{{ 'answer-2' | translate }}"></app-question>
            <app-question question="{{ 'question-3' | translate }}" answer="{{ 'answer-3' | translate }}"></app-question>
            <app-question question="{{ 'question-4' | translate }}" answer="{{ 'answer-4' | translate }}"></app-question>
        </section>
    </ng-template>

    <section class="form" *ngIf="isDark">
        <h3 class="form__heading mb-5" [class.dark]="isDark">{{ 'apply-now' | translate }}</h3>
        <form [formGroup]="advertizerForm" (submit)="sendForm()" class="px-2 px-md-5">
            <div class="form__control">
                <label for="companyType">{{ 'company-type' | translate }} <span class="error">*</span></label>
                <select formControlName="companyType" name="companyType">
                    <option value="direct advertiser">{{ "direct-advertiser" | translate }}</option>
                    <option value="affiliate network">{{ "affiliate-network" | translate }}</option>
                </select>
            </div>

            <div class="form__control">
                <label for="geo">{{ 'company-geo' | translate }} <span class="error">*</span></label>
                <div class="input-box">
                    <input type="text" formControlName="geo" name="geo">
                    <span (click)="paste('geo')">{{ 'paste' | translate }}</span>
                </div>
            </div>

            <div class="form__control">
                <label for="email">EMAIL</label>
                <div class="input-box">
                    <input type="email" formControlName="email" name="email" placeholder="example@gmail.com">
                    <span (click)="paste('email')">{{ 'paste' | translate }}</span>
                </div>
                <p *ngIf="advertizerForm.get('email')?.hasError('email')" class="error ms-3 mb-0 p-1">Please enter valid email</p>
            </div>

            <div class="form__contacts">
                <div class="form__control">
                    <label for="skype">SKYPE</label>
                    <div class="input-box">
                        <input type="text" formControlName="skype" name="skype">
                        <span (click)="paste('skype')">{{ 'paste' | translate }}</span>
                    </div>
                </div>

                <div class="form__control">
                    <label for="telegram">TELEGRAM <span class="error">*</span></label>
                    <div class="input-box">
                        <input type="text" formControlName="telegram" name="telegram">
                        <span (click)="paste('telegram')">{{ 'paste' | translate }}</span>
                    </div>
                </div>
            </div>

            <button type="submit" [disabled]="advertizerForm.invalid" class="btn form__submit">{{ 'submit' | translate }}</button>
        </form>
    </section>

    <section class="webmaster" *ngIf="!isDark">
        <div class="picbox">
            <p class="picbox__master">{{ 'web-master' | translate }}</p>
            <img src="assets/img/car.png" alt="car" class="picbox__pic rotating">
            <p class="picbox__affiliate">{{ 'affiliate' | translate }}</p>
        </div>
        <div class="textbox">
            <h3>{{'connect' | translate}}</h3>
            <a href="https://jm.jbomarketing.club/user/registration?parent=d8e18710f0aaae5b5513c274af98b5c3" target="_blank">
                <img src="assets/svg/big-arr-rigth-black.svg" alt="right arrow">
            </a>
        </div>
    </section>
</div>
