<section class="meet" [class.dark]="isDark">
    <div class="picbox">
        <video autoplay muted loop class="main-pic">
            <source src="assets/video/Frame 41303_3.mp4" type="video/mp4">
            Your browser is not supporting video tag!
        </video>

        <p class="priamikom" [class.dark-t]="isDark">прямиком с 2022</p>
        <button class="btn ahuet">{{ 'button' | translate }}</button>
    </div>
    <h1 class="sorry" [class.dark-t]="isDark">простите если трахнул</h1>
    <app-menu class="menu my-5 mb-0 ms-0 ms-sm-4"></app-menu>
</section>

<section class="features mb-5 pb-5" [class.dark]="isDark">
    <app-pill [number]="'0001'" [description]="'Ну во первых ми пиздатые, очень. Ты ебанешься насколько.'"></app-pill>
    <app-pill [number]="'0002'" [description]="'А во-вторых, мы все равно пиздатые'"></app-pill>
    <app-pill [number]="'0003'" [description]="'Ну во первых ми пиздатые, очень. Ты ебанешься насколько.'"></app-pill>
    <app-pill [number]="'0004'" [description]="'А во-вторых, мы все равно пиздатые'"></app-pill>
</section>

<section class="partners mb-5" [class.dark]="isDark">
    <p>ПАРТНЕРЫ О НАС ГОВОРЯТ ТАКИЕ ВЕЩИ:</p>
    <img src="assets\img\NP.png" alt="nova poshta" class="partners__logo">
    <p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.</p>
    <div class="navbox">
        <a calss="nav">
            <img [src]="isDark ? 'assets/svg/arr-left.svg' : 'assets/svg/arr-left-dark.svg'" alt="arrow left">
        </a>
        <a calss="nav">
            <img [src]="isDark ? 'assets/svg/arr-right.svg' : 'assets/svg/arr-right-dark.svg'" alt="arrow right">
        </a>
    </div>
</section>

<section *ngIf="!isDark" class="stats pt-5 mb-5 pb-5">
    <div class="stats__card">
        <img src="assets/img/olx-back.png" alt="background" class="stats__card--bg">
        <div class="logo-card">
            <img src="assets/img/olx.png" alt="OLX">
            <h5>NFT</h5>
            <span>CPA-сеть</span>
        </div>
        <div class="percentage">
            <span class="cr">CR:</span>
            <span class="percent">12-15%</span>
        </div>
        <div class="dollars">
            <span class="cr">CR:</span>
            <span class="numbers">$10 600-10 950</span>
        </div>
        <div class="countries">
            <img src="assets/svg/Ellipse_ua.svg" alt="ua">
            <img src="assets/svg/Ellipse_pt.svg" alt="pt">
            <img src="assets/svg/Ellipse_sp.svg" alt="sp">
        </div>

    </div>
    <div class="stats__nav">
        <a calss="nav">
            <img src="assets/svg/arr-left-dark.svg" alt="arrow left">
        </a>
        <a calss="nav">
            <img src="assets/svg/arr-right-dark.svg" alt="arrow right">
        </a>
    </div>
</section>

<section *ngIf="isDark" class="flow px-3 pt-5 px-md-5 mb-5 pb-5">
    <h2 class="flow__heading mb-5 pb-3">ТАКОЙ ЗАГОЛОВОК</h2>
    <div class="flow__box">
        <app-flow-pill heading="ЗАГОЛОВОК"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
        </app-flow-pill>
        <img src="assets/svg/arr-bottom-sm.svg" alt="arrow bottom" class="my-3">
        <app-flow-pill heading="ЗАГОЛОВОК"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
        </app-flow-pill>
        <img src="assets/svg/arr-bottom-sm.svg" alt="arrow bottom" class="my-3">
        <app-flow-pill heading="ЗАГОЛОВОК"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
        </app-flow-pill>
        <img src="assets/svg/arr-bottom-sm.svg" alt="arrow bottom" class="my-3">
        <app-flow-pill heading="ЗАГОЛОВОК"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
        </app-flow-pill>
    </div>
</section>

<ng-container *ngIf="!isDark; else faq">
    <ng-container [ngTemplateOutlet]="faq"></ng-container>
</ng-container>
<ng-container *ngIf="isDark; else events">
    <ng-container [ngTemplateOutlet]="events"></ng-container>
</ng-container>

<ng-template #events>
    <section class="events px-3 px-md-4 mb-5 pb-5">
        <div class="d-flex justify-content-between mb-3">
            <h2 class="events__heading" [class.dark]="isDark">ИВЕНТЫ</h2>
            <div class="d-none d-md-inline-block">
                <a calss="nav">
                    <img [src]="isDark ? 'assets/svg/arr-left.svg' : 'assets/svg/arr-left-dark.svg'" alt="arrow left">
                </a>
                <a calss="nav">
                    <img [src]="isDark ? 'assets/svg/arr-right.svg' : 'assets/svg/arr-right-dark.svg'"
                        alt="arrow right">
                </a>
            </div>
        </div>

        <div class="d-flex">
            <app-event class="me-4"></app-event>
            <!-- <app-event class="me-4"></app-event> -->
            <!-- <app-event></app-event> -->
        </div>
    </section>
</ng-template>

<ng-template #faq>
    <section class="faq px-2 mb-5 pb-5">
        <app-question></app-question>
        <app-question></app-question>
        <app-question></app-question>
        <app-question></app-question>
        <app-question></app-question>
    </section>
</ng-template>

<section class="form" *ngIf="isDark">
    <h3 class="form__heading mb-5" [class.dark]="isDark">ТАКОЙ ЗАГОЛОВОК</h3>
    <form [formGroup]="advertizerForm" (submit)="sendForm()" class="px-2 px-md-5">
        <div class="form__control">
            <label for="companyType">ТИП КОМПАНІЇ</label>
            <select formControlName="companyType" name="companyType">
                <option [value]="null" disabled selected>Прямий рекламодавець</option>
                <option value="1">Audi</option>
                <option value="2">BMW</option>
            </select>
        </div>

        <div class="form__control">
            <label for="geo">ВАШІ ГЕО</label>
            <select formControlName="geo" name="geo">
                <option [value]="null" disabled selected>Ваші гео</option>
                <option value="1">Audi</option>
                <option value="2">BMW</option>
            </select>
        </div>

        <div class="form__control">
            <label for="email">EMAIL</label>
            <div class="input-box">
                <input type="email" formControlName="email" name="email" placeholder="example@gmail.com">
                <span (click)="paste('email')">ВСТАВИТЬ</span>
            </div>
        </div>

        <div class="form__contacts">
            <div class="form__control">
                <label for="skype">SKYPE</label>
                <div class="input-box">
                    <input type="text" formControlName="skype" name="skype">
                    <span (click)="paste('skype')">ВСТАВИТЬ</span>
                </div>
            </div>

            <div class="form__control">
                <label for="telegram">TELEGRAM</label>
                <div class="input-box">
                    <input type="text" formControlName="telegram" name="telegram">
                    <span (click)="paste('telegram')">ВСТАВИТЬ</span>
                </div>
            </div>
        </div>

        <button type="submit" class="btn form__submit">Відправити заявку</button>
    </form>
</section>

<section class="webmaster" *ngIf="!isDark">
    <div class="picbox">
        <p class="picbox__master">вебмастеру</p>
        <img src="assets/img/car.png" alt="car" class="picbox__pic">
        <p class="picbox__affiliate">аффилейту</p>
    </div>
    <div class="textbox">
        <h3>Lorem ipsum dolor sit amet.</h3>
        <img src="assets/svg/big-arr-rigth-black.svg" alt="right arrow">
    </div>
</section>
