@import "/src/styles.scss";

.content-wrap {
    max-width: 1900px;
    margin: 0 auto;
    overflow-x: hidden;
}

.meet {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;

    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.ahuet {
    border-radius: 60px;
    padding: 1.375rem 5rem;
    color: $white;
    background-color: $blue;
    font-size: 1.1875rem;
    font-weight: 700;
    position: absolute;
    right: -70px;
    top: 80px;

    &:hover {
        color: $black !important;
        background-color: $white !important;
        border: 1px solid black !important;
    }

    @media (max-width: 1000px) {
        right: -40px;
    }

    @media (max-width: 660px) {
        position: initial;
        margin-top: 2rem;
    }
}

.priamikom {
    font-size: 1.1875rem;
    font-weight: 500;
    color: $black;
    position: absolute;
    left: -40px;
    top: 58px;

    @media (max-width: 660px) {
        display: none;
    }
}

.main-pic {
    border-radius: 87px;
    max-width: 85vw;
    object-fit: cover;
}

.picbox {
    position: relative;

    @media (max-width: 660px) {
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.menu {
    align-self: flex-start;

    @media (max-width: 660px) {
        align-self: center;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

.sorry {
    color: $black;
    font-size: 3.125rem;
    font-weight: 400;
    font-family: $font-heading;
    width: min-content;
    position: absolute;
    right: 10px;
    bottom: 200px;

    @media (max-width: 1300px) {
        bottom: 140px;
    }

    @media (max-width: 1000px) {
        bottom: 100px;
    }

    @media (max-width: 920px) {
        width: 100%;
        position: unset;
        margin-top: 2rem;
        margin-bottom: 0;
        margin-right: 0;
        padding: 0 1rem;
    }

    @media (max-width: 500px) {
        font-size: 2.8rem;
    }

    @media (max-width: 440px) {
        font-size: 2.5rem;
    }

    @media (max-width: 380px) {
        font-size: 2rem;
    }
}

.dark {
    background-color: $black;
    color: $white;

    &-t {
        color: $white;
        background-color: transparent;
    }
}

.features {
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: repeat(2, max-content);
    padding: 4rem 2rem;
    background-color: $white;

    @media (max-width: 1300px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 660px) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &.dark {
        background-color: $black;
    }
}

.reviews {
    position: relative;

    &__navbox {
        position: absolute;
        left: 10rem;
        bottom: 15px;
        z-index: 99;
        display: flex;

        @media (max-width: 760px) {
            bottom: 0.85rem;
            left: calc(50% - 85px);
            align-self: center;
            gap: 1rem;
        }

        img {
            cursor: pointer;
        }
    }

    .partners {
        margin: 0 auto;
        background-color: $grey;
        border-radius: 40px;
        padding: 2rem;

        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @media (max-width: 760px) {
            gap: 2rem;
        }

        &.dark {
            background-color: $white-20 !important;
        }

        .quote {
            max-width: 60%;
            font-family: $font-heading;
            font-size: 1.563rem;

            @media (max-width: 760px) {
                max-width: max-content;
                text-align: center;
                font-size: 1.5rem;
            }
        }

        .logoName {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 1rem;

            @media (max-width: 760px) {
                justify-content: center;
                flex-direction: column;
                align-self: center;
            }
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: space-around;

            @media (max-width: 760px) {
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
}

.flow {
    &__box {
        display: flex;
        justify-content: space-evenly;

        .arrow {
            transform: rotate(270deg);
        }

        @media (max-width: 1125px) {
            flex-direction: column;
            align-items: center;
            justify-content: unset;

            .arrow {
                transform: rotate(0deg);
            }
        }
    }

    &__heading {
        font-family: $font-heading;
        font-size: 3.125rem;
        color: $white;
        text-align: right;

        @media (max-width: 650px) {
            font-size: 2.8rem;
        }

        @media (max-width: 600px) {
            font-size: 2.3rem;
        }

        @media (max-width: 550px) {
            font-size: 2rem;
        }

        @media (max-width: 450px) {
            font-size: 1.7rem;
        }
    }
}

.statistics {
    position: relative;
    max-width: 100%;

    &-container {
        width: 100%;
        overflow-x: hidden;
    }

    @media (max-width: 900px) {}

    &__nav {
        position: absolute;
        bottom: 4.5rem;
        left: calc(50% - 85px);
        z-index: 99;
        display: flex;
        gap: 1rem;

        @media (max-width: 900px) {
            bottom: 4.5rem;
            left: calc(50% - 85px);
            align-self: center;
        }
    }
}

.stats {
    max-width: 85rem;
    width: fit-content;
    margin: 0 auto;

    @media (max-width: 1370px) {
        width: fit-content;
    }

    &__card {
        position: relative;
        width: fit-content;
        max-width: 85rem;

        border-radius: 40px;
        margin-bottom: 1.5rem;
        padding: 1.5rem;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        @media (max-width: 1370px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 700px) {
            padding-bottom: 3rem;
        }

        @media (max-width: 400px) {
            width: min-content;
            padding: 1rem;
            padding-bottom: 3rem;
        }

        .logo-card {
            background-color: $white-20;
            padding: 2rem 3rem;
            border-radius: 40px;
            width: min-content;
            position: relative;
            z-index: 999;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $white;

            h5 {
                margin-top: 1rem;
                font-family: $font-heading;
            }

            span {
                font-weight: 400;
            }
        }

        .percentage {
            background-color: $white-20;
            padding: 2rem 3rem;
            border-radius: 40px;
            width: max-content;
            position: relative;
            z-index: 999;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $white;

            .cr {
                text-align: left;
                font-size: 1.25rem;

                @media (max-width: 1430px) {
                    font-size: 1rem;
                }
            }

            .percent {
                font-size: 3.438rem;
                font-weight: 400;

                @media (max-width: 1520px) {
                    font-size: 3rem;
                }

                @media (max-width: 1430px) {
                    font-size: 2.5rem;
                }
            }
        }

        .dollars {
            background-color: $white-20;
            padding: 2rem 3rem;
            border-radius: 40px;
            max-width: 457px;

            position: relative;
            z-index: 999;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $white;

            .cr {
                text-align: left;
                font-size: 1.25rem;

                @media (max-width: 1430px) {
                    font-size: 1rem;
                }
            }

            .numbers {
                font-size: 3.438rem;
                font-weight: 400;

                @media (max-width: 1520px) {
                    font-size: 3rem;
                }

                @media (max-width: 1430px) {
                    font-size: 2.5rem;
                }
            }
        }

        .countries {
            // margin-left: auto;
            z-index: 999;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            @media (max-width: 1370px) {
                gap: 1.5rem;
                flex-direction: row;
                margin-left: unset;
                align-self: center;
            }
        }

        &--bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            filter: blur(40px);
            object-fit: fill;
            transition: all 0.3s;
            z-index: 1;
        }
    }

    &__nav {
        position: relative;
        z-index: 999;
        margin-left: 1.5rem;
        align-self: flex-start;
        display: flex;

        @media (max-width: 700px) {
            margin-left: 0;
            align-self: center;
            margin-top: -10%;
            gap: 2rem;
        }
    }
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 1600px) {
        align-items: flex-start;
    }
}

.events {
    position: relative;

    .dark {
        color: $white;
    }

    &__heading {
        font-family: $font-heading;
        font-size: 3.125rem;
        color: $black;
        text-align: left;

        @media (max-width: 500px) {
            font-size: 2.8rem;
        }

        @media (max-width: 400px) {
            font-size: 2.5rem;
        }
    }

    &__nav {
        @media (max-width: 600px) {
            position: absolute;
            bottom: 0;
            left: calc(50% - 75px);
        }
    }
}

.form {
    background-color: $white-20 !important;
    border-radius: 20px;
    padding: 2rem;

    .dark {
        color: $white;
    }

    &__heading {
        font-family: $font-heading;
        font-size: 3.125rem;
        color: $white;
        background-color: transparent;
        text-align: left;

        @media (max-width: 640px) {
            font-size: 2.8rem;
        }

        @media (max-width: 580px) {
            font-size: 2.3rem;
        }

        @media (max-width: 500px) {
            font-size: 2rem;
        }

        @media (max-width: 450px) {
            font-size: 1.7rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            color: $white;
            font-weight: 500;
            font-size: 1.25rem;
            margin-left: 1rem;
        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;

        div {
            width: 45%;
        }

        @media (max-width: 620px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div {
                width: 100%;
            }
        }
    }

    &__control {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        select {
            padding: 1rem;
            border-radius: 20px;
            background-color: transparent;
            color: $grey;

            option {
                color: $black;
                background-color: transparent;
            }
        }

        label {
            margin-bottom: 0.5rem;
        }

        .input-box {
            width: 100%;
            padding: 1rem;
            background-color: transparent;
            border: 1px solid $white;
            border-radius: 20px;
            color: $white;
            display: flex;
            align-items: center;

            input {
                align-self: stretch;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                color: $white;

                &:focus-visible {
                    outline: none;
                }
            }

            span {
                cursor: pointer;
                font-weight: 500;
            }
        }

        .error {
            font-weight: 500;
            color: red;
            text-shadow: 0 .1rem 1rem rgba($black, .7);
        }
    }

    &__submit {
        width: 100%;
        border-radius: 60px;
        padding: 1.375rem 5rem;
        color: $white;
        background-color: $blue;
        font-size: 1.1875rem;
        font-weight: 700;

        &:hover {
            background-color: $white !important;
        }

        &:disabled {
            color: $white;
        }
    }
}

.webmaster {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 2rem;

    @media (max-width: 650px) {
        flex-direction: column;
    }

    .picbox {
        margin: 0 4rem;
        display: flex;
        flex-direction: column;

        @media (max-width: 650px) {
            max-width: 70%;
            align-self: center;
        }

        &__pic {
            height: 300px;
            object-fit: cover;
            border-radius: 200px;
            transform: matrix(0.88, 0.48, -0.48, 0.88, 0, 0);
        }

        &__master {
            align-self: flex-start;
            margin-bottom: 0;
        }

        &__affiliate {
            align-self: flex-end;
            margin-bottom: 0;
        }
    }

    .textbox {
        max-width: 60%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-end;

        @media (max-width: 650px) {
            flex-direction: column;
            max-width: 100%;
        }

        h3 {
            font-family: $font-heading;
            font-size: 2.5rem;
            color: $black;
            text-align: left;

            @media (max-width: 500px) {
                font-size: 2.2rem;
            }

            @media (max-width: 400px) {
                font-size: 2rem;
            }
        }

        img {
            align-self: flex-end;
            cursor: pointer;
            transition: all .25s;
            border-radius: 60px;

            &:hover {
                box-shadow: 0 .5rem 1rem rgba($black, .5);
            }
        }
    }
}

@keyframes rotating {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 15s linear infinite;
    -moz-animation: rotating 15s linear infinite;
    -ms-animation: rotating 15s linear infinite;
    -o-animation: rotating 15s linear infinite;
    animation: rotating 15s linear infinite;
    will-change: transform;
}
