<div class="accordion-container">

    <div (click)="shown = !shown">
        <img *ngIf="!shown" [src]="isDark ? 'assets/svg/plus-white.svg' : 'assets/svg/plus-dark.svg'" class="acc-icon" alt="plus">
        <img *ngIf="shown" [src]="isDark ? 'assets/svg/minus-white.svg' : 'assets/svg/minus-dark.svg'" class="acc-icon" alt="minus">
    </div>

    <div class="qa" [class.dark]="isDark">
        <h3 class="question">{{ question }}</h3>
        <p *ngIf="shown" class="answer mb-0">{{ answer }}</p>
    </div>

</div>
