<div class="advertiser-page content-wrapper">
    <section class="heading">
        <h1>ADVERTISERS</h1>
        <img src="assets/img/advertiser-head-img.png" alt="Advertisers">
    </section>

    <section class="user-card">
        <div class="user-card-text">
            <h1>
                JBOmarketing can help you with affiliate marketing
            </h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
            </p>
            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id est laborum.
            </p>

            <a
                class="user-card-btn"
                target="_blank"
                type="button"
                href="https://panel.jbomarketing.com/auth/affiliate?cpn=jbo"
            >Advertisers Sign Up
            </a>
        </div>

        <img src="assets/img/advertiser-card-img.png" alt="Advertiser Card">
    </section>

    <section class="cards">
        <ng-container
            *ngFor="let card of advertiserCards; let i = index; trackBy: index"
        >
            <div class="cards-item">
                <h5>{{ '0' + (i + 1) }}</h5>
                <h3>{{ card.head }}</h3>
                <p>{{ card.text }}</p>
            </div>
        </ng-container>
    </section>

    <section class="text-block-wrap">
        <div class="text-block">
            <div class="text-block-text">
                <h2>TEXT BLOCK</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
            <img src="assets/img/advertiser-text-img-1.png" alt="Text-img">
        </div>

        <div class="text-block">
            <div class="text-block-text">
                <h2>TEXT BLOCK</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
            <img src="assets/img/advertiser-text-img-2.png" alt="Text-img">
        </div>
    </section>

    <section class="join">
        <h2>THE MARKETING PARTNER YOU NEED</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam
        </p>

        <a
            target="_blank"
            type="button"
            href="https://panel.jbomarketing.com/auth/affiliate?cpn=jbo"
        >Join now
        </a>
    </section>
</div>
