<footer>
    <div class="footer-logo">
        <img
            src="assets/svg/{{ isDark ? 'JBO-logo-dark' : 'JBOLogo' }}.svg"
            [routerLink]="'/about-us'"
            alt="JBO-logo">
        <p>&#169; COPYRIGHT 2023</p>
    </div>

    <div class="footer-social">
        <h5>{{'follow-us' | translate | uppercase}}</h5>
        <a
            href="mailto:info@jbomarketing.space"
            target="_blank"
        >jbo@gmail.com
        </a>
        <span class="icons-box">
            <a
                href="https://t.me/jbomarketing"
                target="_blank"
            ><img src="assets/svg/telega.svg" alt="Telegram">
            </a>
            <a
                href="https://www.linkedin.com/company/jbo-marketing/"
                target="_blank"
            ><img src="assets/svg/linkedin.svg" alt="LinkedIn">
            </a>
        </span>
    </div>

    <div class="footer-pages">
        <h5>{{'pages' | translate | uppercase}}</h5>
        <a [routerLink]="['home']">{{'home' | translate}}</a>
        <a [routerLink]="['careers']">{{ 'careers' | translate}}</a>
        <a [routerLink]="['about-us']">{{ 'about-us' | translate }}</a>
        <!-- <a [routerLink]="['blog']">{{ 'blog' | translate }}</a> -->
        <a [routerLink]="['contacts']">{{ 'contacts' | translate }}</a>
    </div>

    <div class="footer-info">
        <h5>{{ 'info' | translate | uppercase }}</h5>
        <a
            [routerLink]="['/affiliate']"
            (click)="scrollToTop()"
        >{{ 'affiliate' | translate }}</a>
        <a
            [routerLink]=" ['advertiser']"
            (click)="scrollToTop()"
        >{{ 'advertiser' | translate }}</a>
        <!-- <a
            [routerLink]="['/privacy']"
            (click)="scrollToTop()"
        >{{ 'privacy-policy' | translate }}</a>
        <a
            [routerLink]="['/privacy']"
            (click)="scrollToTop()"
        >{{ "cookie-policy" | translate }}</a>
        <a
            [routerLink]="['/privacy']"
            (click)="scrollToTop()"
        >{{ "terms-and-conditions" | translate}}</a> -->
        <a
            [routerLink]="['/faq']"
            (click)="scrollToTop()"
        >{{ 'faq' | translate }}</a>
    </div>
</footer>
