@import '/src/styles.scss';

:host {
    width: 100%;
}

footer, .footer {
    display: grid;
    margin: 5.75rem 4.75rem 0 4.75rem;
    grid-template-columns: 1fr minmax(min-content, 25%) 17% 25%;
    gap: 1rem;

    div {
        max-width: 220px;
        min-width: min-content;
    }

    & > * {
        display: flex;
        flex-direction: column;
        align-self: start;
        margin-bottom: 5.75rem;

        h5 {
            margin-bottom: 1.25rem;
            font-family: $font-heading;
            font-weight: 400;
        }

        a {
            text-decoration: none;
            color: $black;
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 0.625rem;
        }
    }

    &-logo {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: flex-start;
        cursor: pointer;

        img {
            height: 5.125rem;
        }

        p {
            margin: 2.2rem 0;
            font-weight: 500;
            font-size: 0.875rem;
            color: $black;
        }
    }

    &-social {
        a:first-of-type {
            color: $blue;
        }

        img {
            height: 1.5625rem;
            margin-right: 1.5625rem;
        }
    }

    @include respondTo(tab-portrait) {
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;

        & > * {
            margin-bottom: 4rem;
        }
    }

    @include  respondTo(phone) {
        @include flex(col, start);
        gap: 2rem;

        & > * {
            margin-bottom: 3.125rem;
        }
    }
}
