@import "/src/styles.scss";

.event {
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    border: 1px solid $black;
    padding: 1.5rem;

    &__container {
        display: flex;
        flex-direction: column;
        @media (max-width: 600px) {
            display: inline-block;
        }
    }

    &.dark {
        border: 1px solid $white;
    }

    &__next {
        position: relative;
        border-radius: 20px;
        color: $black;
        border: 1px solid $black;
        padding: 0 0.5rem;
        z-index: 999;
        align-self: flex-end;
        @media (max-width: 600px) {
            position: absolute;
            top: 13px;
            right: 20px;
        }
        &.dark {
            color: $white;
            border: 1px solid $white;
        }
    }

    &__name {
        font-family: $font-heading;
        font-size: 1.563rem;
        color: $black;
        position: relative;
        z-index: 999;
        align-self: flex-start;
        white-space: pre-line;
        &.dark {
            color: $white;
        }
    }

    .background {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        filter: blur(30px);
        object-fit: cover;
        transition: all 0.3s;
    }

    &:hover {
        .background {
            opacity: 1;
        }

        .event__name {
            color: $white;
        }

        .event__next {
            color: $white;
            border: 1px solid $white;
            &.dark {
                color: $white;
                border: 1px solid $white;
            }
        }
    }
}

.mr-max {
    margin-right: 30vw;
}
