@import "/src/styles.scss";

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

li {
    margin: 0;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid $black;
    color: $black;
    background-color: $white;
    transition: all 0.3s;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
        filter: invert(1);
    }

    &.dark {
        border: 1px solid $white;
        color: $white;
        background-color: $black;
    }
}

