@import "/src/styles.scss";

:host{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 2rem;

    &.vertical{
        list-style: none;
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        padding: 0;
    }
}

img{
    cursor: pointer;
}

li {
    margin: 0;
    padding: .42rem 1rem;
    border-radius: 30px;
    border: 1px solid $black;
    color: $black;
    background-color: $white;
    transition: all 0.3s;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        filter: invert(1);
    }

    &:active {
        filter: invert(1);
    }
}

