<ul *ngIf="full$ | async; else burger">
    <li [class.dark]="isDark">{{ 'home' | translate }}</li>
    <li [class.dark]="isDark">{{ 'about-us' | translate }}</li>
    <li [class.dark]="isDark">{{ 'events' | translate }}</li>
    <li [class.dark]="isDark">{{ 'faq' | translate }}</li>
    <li [class.dark]="isDark">{{ 'contacts' | translate }}</li>
</ul>

<ng-template #burger>
    <img *ngIf="!shown; else expanded" [src]="isDark ? 'assets/svg/burger-white.svg' : 'assets/svg/burger.svg'" alt="burger-menu" (click)="toggleShown()">

    <ng-template #expanded>
        <img [src]="isDark ? 'assets/svg/Close-white.svg' : 'assets/svg/Close-dark.svg'" alt="burger-menu" class="mb-3" (click)="toggleShown()">
        <ul class="vertical">
            <li [class.dark]="isDark" class="text-center">{{ 'home' | translate }}</li>
            <li [class.dark]="isDark" class="text-center">{{ 'about-us' | translate }}</li>
            <li [class.dark]="isDark" class="text-center">{{ 'events' | translate }}</li>
            <li [class.dark]="isDark" class="text-center">{{ 'faq' | translate }}</li>
            <li [class.dark]="isDark" class="text-center">{{ 'contacts' | translate }}</li>
        </ul>
    </ng-template>
</ng-template>
