<div class="contact-page content-wrapper">
    <section class="heading">
        <h1>{{ 'contacts' | translate }}</h1>
        <img src="assets/img/contact-img.png" alt="Contact">
    </section>

    <section class="socials">
        <div class="pillow">
            <a
                href="https://t.me/jbomarketing"
                target="_blank"
            >
                <h2>TELEGRAM</h2>
                @jbomarketing
            </a>
        </div>
        <div class="pillow">
            <a
                href="https://www.linkedin.com/company/jbo-marketing/"
                target="_blank"
            >
                <h2>LINKEDIN</h2>
                JBO Marketing
            </a>
        </div>
        <div class="pillow">
            <a
                href="mailto:info@jbomarketing.space"
                target="_blank"
            >
                <h2>MAIL</h2>
                jbo@gmail.com
            </a>
        </div>
    </section>

    <section class="contact-form">
        <app-question-form></app-question-form>
    </section>
</div>
