@import '../../../styles';

.contact-page {
    @include flex(col, center);

    & > * {
        margin-bottom: 5rem;
    }

    .socials {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2.25rem;

        @include respondTo(phone) {
            @include flex(col, center);
            gap: 1.5rem;
        }

        .pillow {
            width: 25.375rem;
            border: 2px solid $black;
            border-radius: 3.75rem;
            text-align: center;
            @include shadowOnHover;

            @include respondTo(phone) {
                width: 20rem;
                border: 1px solid $black;
            }

            a {
                display: block;
                padding: 1.3125rem 3.5rem;
                text-decoration: none;
                color: $black;
                font-size: 1.25rem;
                font-weight: 500;
            }
        }
    }

    .contact-form {
        width: 100%;
    }
}
