/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@import 'scss/typography';
@import 'scss/mixins';

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/gilroy/Gilroy-Regular.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/gilroy/Gilroy-SemiBold.ttf');
    font-weight: 400;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --background-color: white;
    --text-color: black;
}

.dark {
    --background-color: black;
    --text-color: white;
}

@import 'scss/variables';

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
    font-weight: 300;

    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

body {
    margin: 0;

    &::-webkit-scrollbar {
        width: .75rem;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ccc;
    }
}

input{
    background-color: var(--background-color);
    color: var(--text-color);
}

textarea{
    background-color: var(--background-color);
    color: var(--text-color);
}

.content-wrapper {
    margin: 0 2rem;

    @include respondTo(phone) {
        margin: 0 .5rem;
    }

    @include respondTo(tab-portrait) {
        margin: 0 1rem;
    }

    @include respondTo(tab-landscape) {
        margin: 0 3rem;
    }

    @include respondTo(big-desktop) {
        margin: 0 10rem;
    }
}

img {
    object-fit: cover;
}

// Color Styling

.blue {
    color: $blue;
}

.red {
    color: $red;
}

.white {
    color: $white;
}


/* REUSABLE SECTIONS STYLING */

// Text-Block ( Text - Img ) Section Styling

.text-block-wrap {
    width: 100%;
    @include flex(col, center);
    gap: 6rem;

    .text-block {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3.125rem;
        justify-items: center;
        align-items: center;

        .text-block-text>p {
            font-size: 1.25rem;
            white-space: pre-line;
        }

        &:nth-child(even) {
            .text-block-text {
                grid-column: 2;
                grid-row: 1;

                p {
                    place-self: start;
                }
            }

            img {
                grid-column: 1;
                grid-row: 1;
            }
        }

        &-text {
            align-self: center;
            @include flex(col, center);
            justify-content: center;
            height: 100%;
            width: 100%;
            min-width: 40%;

            h2 {
                place-self: end;
                margin: 3.75rem 0;
            }

            p {
                place-self: end;
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 1rem;
                max-width: 35rem;
            }
        }

        img {
            max-height: 40rem;
            height: 100%;
            width: 100%;
            border-radius: 6rem;
        }

        @include respondTo(tab-landscape) {
            column-gap: 2.5rem;

            &-text {
                margin-right: 2.5rem;
                min-width: 21.5rem;

                h2 {
                    margin: 2rem 0;
                }
            }

            img {
                min-width: 23rem;
                max-height: unset;
            }

            &:nth-child(even) {
                .text-block-text {
                    margin-right: 0;

                    h2 {
                        text-align: end;
                    }
                }
            }
        }

        @include respondTo(tab-portrait) {
            @include flex(col, center);
            gap: 2rem;

            &-text {
                min-width: unset;
                padding: 0 0 1rem 0;
                margin: 0;

                h2 {
                    font-size: 1.875rem;
                    margin: 1rem 0;
                }

                p {
                    margin-bottom: 0;
                }
            }

            img {
                max-height: 20rem;
                border-radius: 3rem;
                max-width: unset;
            }

            &:nth-of-type(even) {
                .text-block-text {
                    margin: 0;
                }
            }
        }

        @include respondTo(phone) {
            @include flex(col-rev, center);

            &-text {
                padding: 1rem 0;
            }

            img {
                max-height: 10rem;
                border-radius: 2.5rem;
            }
        }
    }
}

// Interactive Card Section Styling

.interactive-card {
    @include flex(row, start);
    background-size: cover;
    background-position: center;
    padding: 2.5rem;
    border-radius: 6.25rem;
    color: #fff;

    &-box {
        width: 40rem;
        padding: 2rem;
        backdrop-filter: blur(1.375rem);
        -webkit-backdrop-filter: blur(1.375rem);
        border-radius: 3.125rem;

        h1 {
            font-weight: 400;
            margin-bottom: 2.5rem;
        }

        p {
            font-weight: 400;
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }
    }

    &-btn {
        align-self: center;
        @include button(xl);
        padding: 1rem 13rem;
    }

    @include respondTo(tab-portrait) {
        padding: 1.5rem;
        border-radius: 3rem;

        &-btn {
            width: 100%;
            padding: 1rem;
        }
    }

    @include respondTo(phone) {
        padding: 1rem;
        border-radius: 1.25rem;

        &-box {
            width: 100%;
            border-radius: 1rem;
            padding: 1rem;
        }
    }
}

// Questions Section for FAQ-page and Home-page

.questions {
    @include flex(col, start);
    justify-content: space-between;
    gap: 3rem;

    @include respondTo(tab-portrait) {
        gap: 1.5rem;
    }

    @include respondTo(phone) {
        gap: 1;
    }

    &>* {
        text-transform: uppercase;
    }
}

// Pagination Arrow Styling
.arr {
    font-size: 2.5rem;
    padding: .5rem;
    font-weight: 700;
    text-decoration: none;
    color: $black;
    cursor: pointer;

    &:hover {
        color: $black;
    }
}

// Cards Section Styling
.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    gap: 2rem;

    &-item {
        padding: 1.75rem;
        border: 2px solid $black;
        border-radius: 3.125rem;
        width: 19rem;
        min-width: min-content;
        transition: all .3s;

        &:hover {
            scale: 1.1;
            animation: coolBorderGrow .3s ease;
        }

        h5 {
            font-size: 1rem;
            font-weight: 700;
            color: $blue;
        }

        h3 {
            font-size: 1.5rem;
            margin: 1rem 0;
        }

        p {
            font-weight: 500;
        }
    }

    @media (max-width: 1530px) {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    @include respondTo(tab-portrait) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &-item {
            width: 100%;
            min-width: 20rem;

            &:nth-of-type(even) {
                margin-left: auto;
            }

            &:nth-of-type(odd) {
                margin-right: auto;
            }
        }
    }
}

// User Card Section (Advertiser / Affiliate (Publisher))

.user-card {
    width: 100%;
    min-height: 31.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 70% 30%);

    .heading {
        width: 100%;
        max-width: 90vw;
        flex-wrap: wrap;
    }

    &-text {
        width: 100%;
        height: 100%;
        min-width: 55rem;
        background: $white;
        padding: 3.125rem;
        border: 2px solid $black;
        border-radius: 3.125rem;
        @include flex(col, start);
        justify-content: space-around;
        z-index: 100;

        h1 {
            max-width: 80%;
            margin-bottom: 2.5rem;
        }

        p {
            font-weight: 500;
            margin-bottom: 2rem;
        }

        a {
            @include button(s);
            width: 100%;
        }
    }

    img {
        width: 100%;
        height: 100%;
        min-width: 20rem;
        min-height: 31.25rem;
        border-radius: 3.125rem;
        object-fit: cover;
    }

    &-btn {
        @include button(xl);
        text-align: center;
    }

    @include respondTo(tab-landscape) {
        @include flex(col, center);
        min-height: 0;

        &-text {
            width: 100%;
            min-width: 0;
        }

        img {
            display: none;
        }
    }

    @include respondTo(phone) {
        @include flex(col, center);

        &-text {
            width: 100%;
            min-width: calc(100vw - 2rem);
            padding: 1.75rem;

            h1 {
                max-width: none;
            }
        }

        img {
            height: 10rem;
            min-height: 0;
            max-height: 10rem;
        }
    }
}

// Join Section Styling

.join {
    width: 100%;
    text-align: center;
    @include flex(col, center);
    gap: 2.5rem;

    p {
        max-width: 56.25rem;
        font-weight: 500;
    }

    a {
        @include button(m);
        max-width: 30rem;
    }
}

.partners-wrap {
    width: 100vw;
    @include flex(col, start);
    gap: 6rem;
    margin-bottom: 6rem;

    .partners {
        h2 {
            margin-bottom: 2.5rem;
        }

        .slider {
            height: auto;
            margin: auto;
            position: relative;
            width: 100vw;
            overflow: hidden;
            display: flex;
            place-items: center;

            .slide-track {
                display: flex;
                align-items: center;

                &-heading {
                    & * {
                        white-space: nowrap;
                        margin: 0 4rem;
                    }
                }

                &-hero {
                    &:hover {
                        animation-play-state: paused;
                    }

                    & * {
                        white-space: nowrap;
                        margin: 0 3rem;

                        &:hover {
                            fill: $blue;
                        }
                    }
                }
            }

            svg:hover {
                &>* {
                    fill: $blue;
                }

                g>* {
                    fill: $blue;
                }
            }
        }

        &-media {
            .slider {
                .slide-track {
                    animation: slidingLeft 45s linear infinite;

                    @keyframes slidingLeft {
                        to {
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }

        &-tech {
            .slider {
                .slide-track {
                    animation: slidingRight 45s linear infinite;

                    @keyframes slidingRight {
                        from {
                            transform: translateX(-50%);
                        }

                        to {
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}

// Blog Articles Section
.articles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2.5rem;

    &>*{
        grid-column: span 2;
    }

    @include respondTo(tab-landscape) {
        grid-template-columns:repeat(4, 1fr);
        justify-content: center;
        &>*:nth-last-child(1):nth-child(odd) {
            grid-column: 2 / span 2;
        }
    }

    @include respondTo(tab-portrait) {
        grid-template-columns: repeat(2, 1fr);
        &>*:nth-last-child(1):nth-child(odd) {
            grid-column: span 2;
        }
    }
}
