/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@import 'scss/variables';
@import 'scss/typography';

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/gilroy/Gilroy-Regular.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/gilroy/Gilroy-SemiBold.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'StereoGothic';
    src: url('./assets/stereo-gothic/Stereo\ Gothic\ 800.ttf');
}

// variables

$font-heading: 'Unbounded', cursive;;
$font-basic: "Gilroy";

//colors

$blue: #00A3FF;
$grey: #F0F0F0;
$white: #FFFFFF;
$white-20: rgba($white, .2);
$black: #000000;

$blur: blur(85px);

// basic reset

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //   background-color: rgba(#ccc , .2);
    font-family: "Gilroy", sans-serif;
    font-weight: 300;
}

body {
    margin: 0;

    &::-webkit-scrollbar {
        width: .75rem;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ccc;
    }

    &.dark {
        background-color: $black;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(#fff, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background: #5A5A5A;
        }
    }
}

.content-wrapper {
    margin: 0 4.625rem  ;
}
