@import 'variables';
@import 'mixins';

// HEADINGS

h1, h2, h3, h4 ,h5 {
    font-family: $font-heading;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;

    @include respondTo(phone) {
        font-size: 1.875rem;
    }
}

// TEXT

p {
    font-family: $font-basic;
    margin: 0;
    padding: 0;
}

// Heading Sections Styling

.heading {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: flex-end;

    @include respondTo(tab-landscape) {
        @include flex(col, start);
    }

    h1 {
        display: flex;
        font-size: 3.125rem;
        padding-left: 3rem;
        align-self: center;

        @include respondTo(tab-landscape) {
            align-self: flex-start;
        }

        @include respondTo(tab-portrait) {
            padding-left: 1rem;
            font-size: 2.5rem;
        }

        @include respondTo(phone) {
            font-size: 1.875rem;
            font-weight: 400;
        }
    }

    img {
        margin: 1rem 0 0 3rem;
        align-self: flex-end;
        border-radius: 6rem;
        @include shadowOnHover;

        @include respondTo(tab-landscape) {
            width: 42rem;
            margin: 1rem 0 0 2rem;
            border-radius: 2rem;
        }

        @include respondTo(tab-portrait) {
            width: 25rem;
            margin: 1rem 0 0 2rem;
            border-radius: 2rem;
        }

        @include respondTo(phone) {
            width: 16rem;
            margin: 1rem 0 0 2rem;
            border-radius: 2rem;
        }
    }
}
