// variables

$font-heading: 'Unbounded', cursive;;
$font-basic: "Gilroy";

//colors

$blue: #00A3FF;
$grey: #F0F0F0;
$white: #FFFFFF;
$white-20: rgba($white, .2);
$black: #000000;

$blur: blur(85px);
