// variables

$font-heading: 'Unbounded', cursive;
$font-basic: "Gilroy";

//colors

$black: var(--text-color);
$white: var(--background-color);
$white-20: rgba($white, .2);
$blue: #00A3FF;
$hoverBlue: #038CD9;
$grey: rgba($black, .5);
$red: #b53c2a;

$blur: blur(85px);
