<div class="home-page content-wrapper">
    <section class="greeting-box">
        <div class="greeting-box-text">
            <h1>AFFILIATE MARKETING NETWORK</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
        </div>

        <div class="greeting-box-video">
            // video
        </div>
    </section>

    <section class="info-card">
        <div class="info-card-box">
            <div class="info-card-box-card">
                <h3></h3>
                <p></p>
            </div>

            <div class="info-card-box-card">
                <h3></h3>
                <p></p>
            </div>

            <div class="info-card-box-card">
                <h3></h3>
                <p></p>
            </div>

            <div class="info-card-box-card">
                <h3></h3>
                <p></p>
            </div>

            <div class="info-card-box-card">
                <h3></h3>
                <p></p>
            </div>

            <div class="info-card-box-card">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </section>

</div>
