@import 'src/styles';

.home-page {
    @include flex(col, center);

    &>*:not(:last-of-type) {
        margin-bottom: 8rem;
    }

    .greeting-box {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        margin-top: 6rem;

        @include respondTo(tab-landscape) {
            @include flex(col-rev, center);
            gap: 3rem;
            margin-top: 0;
        }

        &-text {
            text-align: center;
            @include flex(col, end);
            gap: 4rem;

            @include respondTo(tab-portrait) {
                gap: 2rem;
            }

            h1 {
                text-transform: uppercase;
                text-align: end;
                font-size: 3.25rem;
                font-weight: 400;

                @include respondTo(tab-portrait) {
                    font-size: 2.5rem;
                    margin: 4rem auto 0;
                }

                @include respondTo(phone) {
                    font-size: 1.875rem;
                    margin: 2.5rem auto 0;
                }
            }

            p {
                font-size: 1.25rem;
                font-weight: 500;
                padding-right: 2rem;
                text-align: left;

                @include respondTo(tab-landscape) {
                    padding-right: 0;
                    max-width: 70%;
                    align-self: flex-end;
                }

                @include respondTo(tab-portrait) {
                    width: 22.5rem;
                }

                @include respondTo(phone) {
                    align-self: flex-start;
                    font-size: 1rem;
                    max-width: 18rem;
                    min-width: unset;
                }
            }
        }

        &-btn {
            @include button(m);
            max-width: 18rem;

            @include respondTo(tab-portrait) {
                width: 100%;
                max-width: none;
                align-self: center;
            }
        }

        &-video {
            display: flex;
            align-items: center;

            video {
                width: 100%;
                height: 75%;
                object-fit: cover;
                border-radius: 6rem;

                @include respondTo(big-desktop) {
                    height: 100%;
                }

                @include respondTo(tab-portrait) {
                    border-radius: 4rem;
                }

                @include respondTo(phone) {
                    border-radius: 2.5rem;
                }
            }
        }
    }

    .info-card {
        width: 100%;
        border: none;

        &-box {
            background-image: url(~src/assets/img/home-page-card.png);
            background-size: cover;
            border-radius: 2.25rem;
            padding: 2rem;

            @include flex(col, start);
            gap: 1.75rem;

            .first-line {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.75rem;

                .wrap {
                    width: 100%;
                    @include flex(col, center);
                    gap: 1.75rem;
                }
            }

            .second-line {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1.75rem;
            }

            .first-line,
            .second-line {
                width: 100%;
            }

            &-card {
                width: 100%;
                height: 100%;
                color: #fff;
                border: 1px solid #fff;
                border-radius: 2rem;
                padding: 1.5rem;

                h3 {
                    font-size: 1.875rem;
                    margin-bottom: 1rem;
                }

                p {
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
        }

        @include respondTo(tab-portrait) {
            &-box {
                padding: 1rem;
                gap: 1rem;
            }

            .first-line,
            .second-line {
                @include flex(col, center);
                gap: 1rem;
            }

            .first-line {
                .wrap {
                    gap: 1rem;
                }
            }

            &-card {
                width: 100%;
            }
        }
    }

    .stats {
        width: 100%;
        @include flex(col, center);
        gap: 5rem;

        &-heading {
            width: 100%;
            display: grid;
            @include flex(row, center);
            gap: 4rem;
            justify-content: space-between;

            @include respondTo(big-desktop) {
                gap: 6rem;
            }

            h2 {
                width: 100rem;
                max-width: 50%;
            }

            img {
                height: 18.25rem;
                border-radius: 4.25rem;

                @include respondTo(big-desktop) {
                    height: 24rem;
                }
            }

            &-btn {
                width: 100%;
                @include flex(col, start);
                gap: 2rem;
                min-width: 22.5rem;
                max-width: 24rem;

                p {
                    font-weight: 400;
                    max-width: 24rem;
                }

                a {
                    @include button(xl);
                    max-width: 24rem;
                }
            }
        }

        &-container {
            max-width: 90vw;
            @include flex(row, center);
            justify-content: space-between;
            gap: 2.5rem;

            .stats-arrows {
                &.down {
                    display: none;
                }
            }

            .stats-box {
                &-card {
                    color: #fff;
                    background-image: url(~src/assets/img/home-stats-bg.png);
                    height: 12.5rem;
                    max-width: 35rem;
                    background-size: cover;
                    background-position: center;
                    border: 1px solid #fff;
                    border-radius: 2rem;
                    padding: 1rem;
                    @include flex(col, start);
                    justify-content: space-between;

                    &-head {
                        width: 100%;
                        @include flex(row, center);
                        justify-content: space-between;

                        .logo {
                            @include flex(row, center);
                            justify-content: flex-start;
                            gap: 1rem;

                            img {
                                width: 3.75rem;
                                height: 3.75rem;
                            }
                        }

                        .countries {
                            @include flex(row, center);
                            gap: .75rem;

                            &>* {
                                height: 1.25rem;
                                width: 1.25rem;
                            }
                        }
                    }

                    &-info {
                        width: 100%;
                        @include flex(row, center);
                        gap: 2rem;

                        &>* {
                            width: 100%;
                            padding: 1rem;
                            border: 1px solid #fff;
                            border-radius: 2rem;
                            @include flex(col, start);

                            .percent,
                            .numbers {
                                font-size: 1.25rem;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        @include respondTo(tab-landscape) {
            &-heading {
                gap: 2rem;
                column-gap: 6rem;
                flex-wrap: wrap;

                h2 {
                    max-width: 45%;
                }

                img {
                    height: 20rem;
                    width: 20rem;
                }

                &-btn {
                    @include flex(row-rev, center);
                    gap: 6rem;
                    justify-content: space-between;
                    max-width: 100%;
                }
            }
        }

        @include respondTo(tab-portrait) {
            &-heading {
                justify-content: center;

                h2 {
                    margin: 0 4em;
                    max-width: 100%;
                }

                &-btn {
                    @include flex(col, center);
                    gap: 2rem;
                    min-width: 0;

                    button {
                        padding: 1.25rem 2.5rem;
                    }
                }
            }
        }

        @include respondTo(phone) {
            &-heading {
                justify-content: space-between;

                h2 {
                    margin: 0;
                }

                img {
                    width: 100%;
                    height: 20rem;
                }
            }

            swiper {
                max-width: calc(100vw - 4rem);
            }

            &-container {
                max-width: calc(100vw - 4rem);
                @include flex(col, center);
                gap: 0;

                .stats-box {
                    width: 100%;

                    &-card {
                        width: 100%;
                        height: 100%;
                        max-width: calc(100vw - 6.1rem);

                        &-head {
                            margin-bottom: 1rem;
                        }

                        &-info {
                            &>* {
                                width: calc(100% - 2rem);
                            }
                        }

                        &>* {
                            @include flex(col, start);
                            gap: 1rem;
                        }
                    }
                }

                .arr {
                    display: none;
                }

                .stats-arrows {
                    &.down {
                        display: flex;
                        gap: 1rem;

                        .arr {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .features {
        width: 100%;

        &-heading {
            @include flex(row, center);
            justify-content: space-between;
            margin-bottom: 3rem;
            white-space: nowrap;

            .big-screen-btn {
                @include button(m);
                max-width: 17rem;
            }
        }

        &-cards {
            @include flex(row, center);
            gap: 2.5rem;
            color: #fff;

            &>* {
                width: 100%;
                height: 23.25rem;
                border-radius: 5.25rem;
                border: 1px solid $black;
                display: flex;
                @include smallShadow;
                @include shadowOnHover;
                cursor: pointer;

                h4 {
                    align-self: center;
                    font-size: 1.5625rem;
                    padding: 2rem;
                }
            }

            .affiliates {
                background: url(~src/assets/img/home-features-img-1.png);
            }

            .advertisers {
                background: url(~src/assets/img/home-features-img-2.png);
            }
        }

        .sm-screen-btn {
            display: none;
            @include button(m);
        }

        @media screen and (max-width: 700px) {
            &-heading {
                margin-bottom: 2rem;

                .big-screen-btn {
                    display: none;
                }
            }

            &-cards {
                @include flex(col, center);
                margin-bottom: 2.5rem;

                &>* {
                    height: 18rem;
                    border-radius: 3.75rem;
                }
            }

            .sm-screen-btn {
                display: block;
            }

            @include respondTo(phone) {
                &-cards {
                    &>* {
                        border-radius: 2.5rem;
                        max-height: 14.25rem;
                    }
                }
            }
        }
    }

    .interactive {
        width: 100%;

        &-card {
            background-image: url(~src/assets/img/home-interactive-bg.png);

            &-box {
                background: linear-gradient(
                        rgba(0, 0, 0, 0.5),
                        rgba(0, 0, 0, 0.25)
                );
            }
        }
    }

    .faq {
        width: 100%;
        @include flex(row, center);
        gap: 2.5rem;
        padding: 2.5rem;
        border: 2px solid $black;
        border-radius: 3.25rem;

        img {
            border-radius: 3.25rem;
        }

        @include respondTo(tab-portrait) {
            padding: 1.75rem;

            .questions {
                height: unset;
            }

            img {
                display: none;
            }
        }
    }

    .events {
        width: 100%;

        &-heading {
            @include flex(row, center);
            justify-content: space-between;
            margin-bottom: 2.5rem;

            &-arrows {
                &.down {
                    display: none;
                }
            }
        }

        &-container {
            margin-right: -4.625rem;
            margin-left: -4.625rem;
        }


        @include respondTo(phone) {
            &-heading {
                &-arrows {
                    display: none;
                    text-align: center;

                    &.down {
                        display: block;

                        .arr {
                            &:nth-of-type(1) {
                                padding-right: 0;
                            }
                        }
                    }
                }
            }

            &-container {
                max-width: calc(100vh - 1rem);
            }
        }

        @include respondTo(big-desktop) {
            &-container {
                margin-right: -16rem;
                margin-left: -16rem;
            }
        }
    }

    .reviews {
        width: 100%;

        h2 {
            margin-bottom: 2.5rem;
        }

        &-container {
            display: grid;
            grid-template-columns: 5% 1fr 5%;
            align-items: center;
            justify-items: center;
            column-gap: 2rem;

            .review {
                max-width: 71vw;
                border: 2px solid $black;
                border-radius: 2.5rem;
                padding: 2rem;

                &-box {
                    @include flex(row, center);
                    gap: 3rem;

                    .logo {
                        width: 9.125rem;
                    }

                    .text {
                        text-transform: uppercase;

                        h4 {
                            margin-bottom: 2rem;
                            font-weight: 400;
                        }

                        p {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }

        &-arrows {
            &.down {
                display: none;
            }
        }

        @include respondTo(tab-portrait) {
            &-container {
                display: flex;
                width: 100%;

                .review {
                    width: 100%;
                    max-width: none;
                    max-height: none;
                    align-self: center;

                    &-box {
                        gap: 1rem;

                        .logo {
                            display: none;
                        }

                        .text {
                            h4 {
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
            }

            .arr {
                display: none;
            }

            &-arrows {
                &.down {
                    @include flex(row, center);
                    justify-content: center;

                    .arr {
                        display: block;
                    }
                }
            }
        }

        @include respondTo(phone) {
            &-container {
                .review {
                    max-width: 90vw;
                }
            }
        }
    }

    .blog {
        width: 100%;
        @include flex(col, start);
        gap: 2.5rem;

        h2 {
            text-transform: uppercase;
            margin-bottom: 2.5rem;
        }
    }
}
